.about{	
	height:800px;
	top:50%;
	margin-top:-400px;
	@include transform-origin(50% 5%);

	.across{
		width:25%;
		height:100%;
		overflow:hidden;

		&:first-child{margin-top:0px;}

		.top{
			position:absolute;
			top:50%;
			margin:-10px 0px 0px;
		}

		.txt{
			position:absolute;
			top:50%;
			border-bottom:1px white solid;
			padding:15px;
		}
	}
}
















