.view .bg {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%; }
  .view .bg .clean {
    opacity: 0; }
.view .eject {
  height: 100px;
  width: 100px;
  top: 100px; }
  .view .eject p {
    font-size: 45px;
    top: 100px; }
.view .about {
  opacity: 1; }
