.bg{
	position:absolute;
	// top:-10%;
	left:-10%;
	height:120%;
	width:120%;
	@include transition(1s, ease-in-out);
	.blur, .clean{
		position:absolute;
		top:0px;
		left:0px;
		height:100%;
		width:100%;
		background-size:cover;
		background-position: center center;
		@include transition(1s, linear);
	}
	.blur{background-image:url(../img/back_blur.jpg);}
	.clean{background-image:url(../img/back.jpg);}
}