.eject{
	position:absolute;
	z-index:5000;
	height:150px;
	width:150px;
	top:50%;
	left:50%;
	margin:-75px 0px 0px -75px;
	background-image:url(../img/eject.png);
	background-size:cover;
	background-position: center center;
	cursor: pointer;
	@include transition(1s, ease-in-out);
	p{
		font-family:u39;
		font-size:65px;
		font-weight:normal;
		position:absolute;
		top:100%;
		left:50%;
		height:65px;
		width:150px;
		margin:0px 0px 0px -75px;
		text-align: center;
		line-height:1em;
		@include transition(1s, ease-in-out);
		display:none;
	}
	&:hover{
		.name{display:block;}
		.nope{display:none;}
	}
	&:active{
		.name{display:none;}
		.nope{display:block;}
	}
}