@import url("//hello.myfonts.net/count/2760f4");
@import url("//hello.myfonts.net/count/276103");
  
@font-face {
    font-family: 'u39';
    src: url('../type/u39/276103_0_0.eot');
    src: url('../type/u39/276103_0_0.eot?#iefix') format('embedded-opentype'),
         url('../type/u39/276103_0_0.woff') format('woff'),
         url('../type/u39/276103_0_0.ttf') format('truetype'),
         url('../type/u39/276103_0_0.svg#wf') format('svg');
}

@font-face {
    font-family: 'u47';
    src: url('../type/u47/2760F4_0_0.eot');
    src: url('../type/u47/2760F4_0_0.eot?#iefix') format('embedded-opentype'),
         url('../type/u47/2760F4_0_0.woff') format('woff'),
         url('../type/u47/2760F4_0_0.ttf') format('truetype'),
         url('../type/u47/2760F4_0_0.svg#wf') format('svg');
}
  
@font-face {
    font-family: 'u67';
    src: url('../type/u67/276103_1_0.eot');
    src: url('../type/u67/276103_1_0.eot?#iefix') format('embedded-opentype'),
         url('../type/u67/276103_1_0.woff') format('woff'),
         url('../type/u67/276103_1_0.ttf') format('truetype'),
         url('../type/u67/276103_1_0.svg#wf') format('svg');
}

html{
	font-size: 17px;
	font-size: .9em;
	line-height: 1.15rem;
}

*{
    color:white;
}

.master{
	position:absolute;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	font-family:Univers;
	overflow:hidden;
}