.view{
	.bg{
		top:0px;
		left:0px;
		height:100%;
		width:100%;
		.clean{opacity:0;}
	}
	.eject{
		height:100px;
		width:100px;
		top:60px;
		margin:-50px 0px 0px -50px;
		@include blur(3px);
		p{
			font-size:40px;
			height:45px;
			text-shadow: 0 0 3px #fff;
			color: transparent;
		}
	}
	.about{
		opacity:1;
		@include transform(scale(1));
	}
}